@model AnketUygulamasiUI.Models.Dtos.CreateSurveyDto
@{
    ViewData["Title"] = "CreateSurvey";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content" style="padding: 100px 0px 20px 0px;">
    <div class="container-fluid">
        <h4 class="page-title">Yeni Anket Girişi</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="surveyname">Anket Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="SurveyName" id="surveyname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-success">Anketi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

