@model AnketUygulamasiUI.Models.Dtos.SurveyDetailsDto
@{
    ViewData["Title"] = "CreateAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<div class="container pt-5">
    <!-- Page Title -->
    <h1 class="page-title">@Model.SurveyName</h1>
    <p>Bir en iyi beş en kötü olacak şekilde, aşağıdaki soruları lütfen cevaplayınız.</p>
    <!-- Survey Questions Form -->
    <form asp-action="CreateAnswer" method="post">
        @foreach (var question in Model.Questions)
        {
            <div class="form-group">
                <label class="fw-bold mb-3" for="Questions_@question.QuestionID">@counter . @question.QuestionName</label>
                <input type="hidden" name="Questions[@Model.Questions.IndexOf(question)].QuestionID" value="@question.QuestionID" />
@*                 <input type="text" class="form-control" id="Questions_@question.QuestionID" name="Questions[@Model.Questions.IndexOf(question)].Answerrs"> *@
                
                <label class="d-block" for="edo-ani" style="margin-bottom: 10px;">
                    <input onchange="ogCheck(this.value)" class="radio_animated" type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answerrs" value="1"> 1
                </label>
                <label class="d-block" for="edo-ani1" style="margin-bottom: 10px;">
                    <input onchange="ogCheck(this.value)" class="radio_animated" type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answerrs" value="2"> 2
                </label>
                <label class="d-block" for="edo-ani" style="margin-bottom: 10px;">
                    <input onchange="ogCheck(this.value)" class="radio_animated" type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answerrs" value="3"> 3
                </label>
                <label class="d-block" for="edo-ani1" style="margin-bottom: 10px;">
                    <input onchange="ogCheck(this.value)" class="radio_animated" type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answerrs" value="4"> 4
                </label>
                <label class="d-block" for="edo-ani1" style="margin-bottom: 10px;">
                    <input onchange="ogCheck(this.value)" class="radio_animated" type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answerrs" value="5"> 5
                </label>
                <hr />
            </div>
            counter++;
        }
        <div class="shadow-lg p-5" style="border-radius: 20px;">
            <div class="form-group" style="padding-top: 10px;">
                <label for="Firstname">Ad</label>
                <input type="text" class="form-control" id="Firstname" name="Firstname" required>
            </div>
            <div class="form-group" style="padding-top: 10px;">
                <label for="Lastname">Soyad</label>
                <input type="text" class="form-control" id="Lastname" name="Lastname" required>
            </div>
            <div class="form-group" style="padding-top: 10px;">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
            <button type="submit" class="btn btn-outline-success" style="margin-top: 20px;">Gönder</button>
        </div>
    </form>
</div>